.landingPage {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .bkVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .landingPageTitle {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .exploreButton {
    font-size: 2rem;
    padding: 1rem 2rem;
    border: none;
    background-color: #f58634;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .exploreButton:hover {
    background-color: #d4690a;
  }
  